* { /*reset no body com o padrão desejado */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}
/*limitar a secao cabeçalho, ou topo */
.limitar-secao { 
    width: 100%; /*largura padrão */
    max-width: 1440px; /*largura máxima */
    margin: 0 auto; /*espaçamento externo sup e inf zero, auto dir e esq */
}
/*Estilizar o topo*/
.topo{
    width: 100%;
    position: fixed;/*fixar o menu ou topo */
    background-color: #fff;
}
.container-topo {
    display: flex; /*aloda a lado */
    align-items: center;/*centralizou na vertical*/
    justify-content: space-between; /*distribuiu com espaçamentos interno por igual */
    flex-wrap: wrap;/*se necessário quebre linha */
    gap: 30px;
    padding: 20px;/*espaçamento interno */
    color: #3d3d3d;
}
/*flex é uma abreviação das propriedades flex-grow,flex-shrink e flex-basis */
.container-link-logotipo {
   flex: 1 0 60%; /*aumente 1, dimunua 0, tamanho base 60% */  
}

.container-link-logotipo a {
    font-size: 24px;
    text-decoration: none;
    color:#3d3d3d
}
.container-link-logotipo span {
    color:#6592c9;
}
.container-links {
    display: flex;
    flex: 1 0 150px;
    justify-content: space-between; 
    
}


.links-topo  {
    text-decoration: none;
    color:#3d3d3d
    
}


/*Estilização do conteúdo Principal*/
.banner{
    width: 100%;
    height: 100vh;
    padding: 0 20px;
    background-image: url('../imagens/img-fundo.jpg');
    background-position: center;/*posicionar a imagem de fundo no centro do elemento */
    background-size: cover;/*redimenciona a imagem de fundo para cobrir todo o elemento, de acordo com o elemento */

/*para posicionar o titulo e paragrafo sobre o banner */
    display: flex;
    justify-content: center;
    align-items: center;
}
/*para estilizar o titulo e paragrafo sobre o banner */
.container-titulo-site {
    display: flex;
    flex-direction: column;/*alinhamento em coluna de baixo pra cima */
    align-items: center;/*centralizar na vertical */
    gap: 40px;/*espaçamento das palavras */
    padding: 40px 20px;
    font-size: 28px;
    color:#fff;
    background-color: #0a9077b3;/*cor de fundo */
    border: 1px solid #fff;
    border-radius: 4px;
    text-align: center;
}
/*estilizando os quartos*/
.secao-container {
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding: 0px auto;
    text-align: center;
    margin-top: 20px;
}
.container-descricao {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.container-descricao h2 {
    font-size: 32px;
    font-weight: 500;
}
.container-quartos {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    flex-wrap: wrap;/*se necessário quebra de linha */
}
.quarto {
    flex: 1 0 250px;/*aumento, diminue, base */
    text-decoration: none;/*remover sublinhado */
    color:#3d3d3d;
    padding-bottom: 10px;
    border-bottom: 2px solid #00836a;
}
.quarto img {
    width: 100%;
    margin-bottom: 10px;
    
}
.quarto a {
    text-decoration: none;
    color: #333;
}
.secao-container h2 {
    font-size: 32px;
    font-weight: 500;
}
#rota {
    padding: 0px;
}

/* Estilização seção Sobre */
.container-cards {
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
}
.card {
    flex: 1 0 350px;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    text-align: left;
    background-color: #f1f1f1;
}
.container-card-descricao {
    width: 100%;
    height: 100%;
    padding: 0px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
.container-card-img {
    width: 30%;
    height: 100%;
}
.container-card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;/*especificar como uma imagem,vídeo ou iframe deve ser redimensionado para se ajustar ao contêner */
}

/* Estilização do rodapé */
.rodape {
    background-color: #49997d;
    color:#fff;
    margin-top: 60px;
  }
  
  .container-info {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
  }
  
  .card-info-rodape {
    flex: 1 0 250px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card-info-rodape h4 {
    font-size: 22px;
  }
  
  .card-info-rodape a {
    display: flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
  }
  
  .card-info-rodape p {
    margin-left: 10px;
  }
  
  .card-info-rodape img {
    width: 40px;
    height: 40px;
  }
  
  .container-copright {
    padding: 20px;
    font-weight: 600;
    text-align: center;
    border-top: 1px solid #3b7863;
  }